@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #51958f;
  --secondary: #263044;
  --accent: #92b8b3;
  --neutral: #53c2cf;
  --base-100: #d0e9dd;
}

.card {
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  @apply rounded-md;
}

.card-front {
  background-color: var(--primary);
}

.card-back {
  background-color: var(--accent);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}

.card-flipped .card-front {
  transform: rotateY(180deg);
}

.card-flipped .card-back {
  transform: rotateY(0deg);
}
